$colors: ();

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $colors
);
@use './dark';

// https://github.com/element-plus/element-plus/discussions/7955
:root {
  --el-color-primary-value-r: 64;
  --el-color-primary-value-g: 158;
  --el-color-primary-value-b: 255;
  --el-color-primary: rgb(
    var(--el-color-primary-value-r) var(--el-color-primary-value-g) var(--el-color-primary-value-b)
  );
  --el-color-primary-light-3: rgb(
    calc(var(--el-color-primary-value-r) + 19 * 3) calc(var(--el-color-primary-value-g) + 10 * 3)
      var(--el-color-primary-value-b)
  );
  --el-color-primary-light-5: rgb(
    calc(var(--el-color-primary-value-r) + 19 * 5) calc(var(--el-color-primary-value-g) + 10 * 5)
      var(--el-color-primary-value-b)
  );
  --el-color-primary-light-7: rgb(
    calc(var(--el-color-primary-value-r) + 19 * 7) calc(var(--el-color-primary-value-g) + 10 * 7)
      var(--el-color-primary-value-b)
  );
  --el-color-primary-light-8: rgb(
    calc(var(--el-color-primary-value-r) + 19 * 8) calc(var(--el-color-primary-value-g) + 10 * 8)
      var(--el-color-primary-value-b)
  );
  --el-color-primary-light-9: rgb(
    calc(var(--el-color-primary-value-r) + 19 * 9) calc(var(--el-color-primary-value-g) + 10 * 9)
      var(--el-color-primary-value-b)
  );
  --el-color-primary-dark-2: rgb(
    calc(var(--el-color-primary-value-r) - 13) calc(var(--el-color-primary-value-g) - 32)
      calc(var(--el-color-primary-value-b) - 41)
  );
}
